div.appview-container.css-1wrcr25.e1g8pov66
{
    background-image: url('image1.jpg');
}
section.css-1cypcdb.e1akgbir11{
    background-color: black;
}
header.css-1avcm0n.e13qjvis2{
    background-color: black;
}





section.main.css-uf99v8.e1g8pov65{
    background-color: black;
}